<div ng-controller="MapCtrl">
    <form class="form-horizontal" role="form" name="mapControlForm">
        <div class="form-group">
            <label for="speciesInput" class="col-sm-1 control-label">Species:</label>
            <div class="col-sm-3">
                <select id="speciesInput" class="form-control" ng-model="httpConfig.params.species_ids" ng-change="reloadMapData()" ng-options="value as key for (key , value) in species">
                </select>
            </div>
            <div class="col-sm-4">
            For the past <input type="number" ng-required="true" min="1" ng-model="httpConfig.params.days" ng-change="reloadMapData()" style="width: 60px; height: 34px;"></input> days.
            </div>
        </div>
        <div class="bs-main-content" id="clusterMap"></div>
    </form>
</div>